/*================================================================================================*/
/*=================[                                                            ]=================*/
/*=================[    !!!!!!!!   CSS CREATED BY RAJODIYA INFOTECH  !!!!!!!!   ]=================*/
/*=================[                                                            ]=================*/
/*================================================================================================*/

@media (min-width:992px) {

    .desk-only {
      display: block !important;
    }
    .mobile-only {
      display: none !important;
    }  
    table tr {
      padding: 0;
      display: table-row;
  }
  table tr:first-child {
    border-top: none;
  }
  .cart-tble tr th:first-child, .cart-tble tr td:first-child {
    width: 90px;
  }
  table tr td {
    padding: 20px 10px 20px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
  }
  .cart-tble tr th:nth-child(2), .cart-tble tr td:nth-child(2) {
    width: 233px;
  } 
  
}   
@media screen and (min-width:576px){
  .modal-dialog {
    max-width: 470px;
    margin: 80px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 .5rem 1rem rgba(31,45,61,.5);
    box-shadow: 0 .5rem 1rem rgba(31,45,61,.5);
  }

}
@media screen and (max-width:1500px){
  .desktop-menu{
    display: none;
  }
  .banner-left-side{
    display: none;
  }
}
@media screen and (max-width:1440px){
  .site-header .menu-dropdown{
    padding: 5px 0;
  }
  .offset-left {
    margin-left: 0;
    padding: 0 0 0 15px;
  }
  .store-promotions .offset-left{
    padding-left: 0;
  }
  .featured-card {
    margin-left: 15px;
  }
}
@media screen and (max-width:1260px){   
  .home-banner-section{
    padding: 15% 0 80px;
  }
  .order-table{
    overflow-x: scroll;
  }
  .mobile-menu {
    display: block !important;
  }
  .banner-slider .banner-content h2{
    font: var(--h2);
    font-weight: normal;
  }
}
@media screen and (max-width:1199px){
  :root .theme7-v1,:root .theme7-v2,:root .theme7-v3,:root .theme7-v4,:root .theme7-v5{ 
    --h1: normal 700 40px/1 var(--second-font);
    --h2: normal 700 32px/1 var(--second-font);
    --h3: normal 700 26px/1 var(--second-font); 
    --h4: normal 700 20px/1 var(--second-font);
    --h5: normal 700 18px/1 var(--second-font);
    --h6: normal 700 16px/1 var(--second-font);
  } 
  .testimonial-inner p {
    font-size: 18px;
  }
  .main-nav{
    display: none;
  }
  .desktop-menu{
    display: block;
  }
  .right-menu {
    flex: 1;
    display: flex;
    justify-content: end;
  }
  .store-promotions-inner .cart-btn {
    margin-top: 20px;
  }
  .last-btn .cart-btn{
    width: 100%;
  }
  
  .bestseller-title .section-title{
    flex: 1;
  }
  .desktop-menu {
    display: inline-flex;
    border: 0;
    width: auto;
    right: 0;
    left: auto;
    position: relative;
    margin-left: 15px;
    min-height: auto;
  }
  .mobile-menu-wrapper{
    max-width: 400px;
  }
}
@media screen and (max-width:991px){
  :root .theme7-v1,:root .theme7-v2,:root .theme7-v3,:root .theme7-v4,:root .theme7-v5 { 
    --h1: normal 700 32px/1 var(--second-font); 
    --h2: normal 700 38px/1 var(--second-font);
    --h3: normal 700 22px/1 var(--second-font); 
    --h4: normal 700 18px/1 var(--second-font);
    --h5: normal 700 16px/1 var(--second-font);
    --h6: normal 700 14px/1 var(--second-font);
    --common-text: normal 400 14px/1.4 var(--first-font);
  } 
  .site-header{
    padding: 15px 0 ;
  }
  .right-side-header{
    justify-content: end;
  }
  .right-menu ul li {
    padding: 0;
  }
  .right-menu {
    padding-left: 0;
  }
  .logo-col{
    max-width: 120px;
  }
  .cookie{
    display: none;
  }
  .profile-header a{
    padding: 10px 35px 10px 15px !important;
  }
  .right-menu>ul>li:not(.profile-header)>a{
    width: 35px;
    height: 35px;
  }
  .main-navigationbar .menu-right li:not(:last-of-type){
    padding: 5px 0;
  }
  .main-navigationbar .menu-right>li{
    padding: 5px 0;
  }
  .omnisearch .omnisearch-form .form-control{
    font-size: 14px;
  }
  .cart-btn-header a{
    width: 25px;
    height: 25px;
  }
  .cart-count {
    width: 15px;
    line-height: 15px;
    height: 15px;
  }
  .main-navigationbar li.language-header>a{
    padding-left: 0;
  }
  .home-banner-section .banner-text h2{
    font-size: 32px;
  }
  .social-link li a{
    padding: 5px 15px;
  }
  .store-promotions-box{
    padding: 40px 20px;
  }
  .store-promotions-box i{
    font-size: 20px;  
  }
  .store-promotions-inner{
    padding: 30px 15px;
  }
  .store-promotions-box i {
    min-width: 20px;
  }
  .bestseller-section ul li:not(:last-child) {
    margin-right: 15px;
  }

  table .qty-spinner {
    justify-content: center;
    margin: 0 auto;
  }
  table tr td::before {
    content: attr(data-label);
    display: block;
    text-align: center;
    padding-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
  }
  .cart-section table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    display: none;
  }
  .cart-btns{
    flex-direction: column;
    gap: 15px;
  }
  .cart-btns a:not(:last-child){
    margin-right: 0;
  }
  .cart-title{
    margin-bottom: 15px;
  }
  .cart-tble{
    margin: 30px 0;
  }
  .padding-top{
    padding-top: 40px;
  }
  .padding-bottom{
    padding-bottom: 40px;
  }
  .cart-section table tr td{
    display: block;
    text-align: center;
  }
  .footer-link-2{
    text-align: left;
  }
  .footer-link-1{
    margin-bottom: 20px;
  }
  .banner-img-inner {
    padding: 100px 20px 100px 20px;
  }
  .featured-product-detail h3,.featured-product-detail p{
    max-width: 100%;
  }
  .featured-product-detail{
    padding-right: 15px;
  }
  .category-section .section-title{
    max-width: 100%;
  }
  .category-section::before{
    display: none;
  }
  .category-card-inner .card-content h6 {
    font-size: 16px;
  }
  .blog-section .section-title{
    max-width: 100%;
  }
  .testimonial-section .slick-dots{
    bottom: -30px;
  }
  .checkout-btn{
  padding: 12px 15px;
  }
  .product-detail p{
    font-size: 14px;
  }
  .review-box-2{
    padding: 0;
  }
  .pdp-review .product-review{
    margin-bottom: 10px;
  }
}
@media screen and (max-width:767px){
  .mobile-menu-bottom{
    display: block;
    margin-top: 10px;
  }
  .mobile-menu-bottom ul {
    display: flex;
    justify-content: space-between;
    padding: 10px  0;
    color: var(--black);
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}
  .mobile-menu-bottom ul .language-header-2 .menu-dropdown{
    min-width: 60px;
  }
  .language-header-2 a,.profile-header-2 a{
    padding-right: 12px;
  }
  .mobile-menu-bottom ul li.set a{
    padding: 0 15px 0 0;
  }
  .mobile-menu-bottom .menu-dropdown ul{
    display:  block;
    border: 0;
    padding: 0;
  }
  .mobile-menu-bottom .profile-header-2 .menu-dropdown{
    left: 0;
    right: auto;
  } 
  .right-menu>ul>li:not(:last-of-type)>a{
    border: 1px solid var(--black);
  }
  .mobile-menu-bottom ul .language-header-2 .menu-dropdown ul li a:after,
  .mobile-menu-bottom ul .profile-header-2 .menu-dropdown ul li a:after{
    display: none;
  }
  .mobile-menu-bottom ul li a::after{
    right: 0 !important;
  }
  .footer-link-1 a{
    max-width: 150px;
  }
  .social-link{
    justify-content: center;
  }
  .footer-bottom p{
    text-align: center;
    margin-bottom: 10px;
  }
  .home-banner-section {
    padding: 50px 0;
  }
  .footer-top .footer-link-1 p{
    max-width: 100%;
  }
  .omnisearch .omnisearch-form {
    width: 100%;
  }
  .footer-top .footer-link-1 .contact-us p{
    font-size: 12px;
  }
  .price-bar{
    justify-content: center;
  }
  .checkout-box a{
    width: 100%;
    text-align: center;
    margin: 8px 0;
  }
  .addres-btn{
    justify-content: start;
    margin-bottom: 15px;
  }
  .customer-info {
    margin-bottom: 15px;
  }
  .coupon-form{
    margin-bottom: 0;
  }
  .payment-method{
    padding: 20px 15px;
  }
  table tr th, table tr td{
    font-size: 14px;
  }
  .language-header, .shoping-btn,.profile-header{
    display: none;
  } 
  .store-text {
    max-width: 100%;
  }
  .bestseller-title {
    flex-direction: column;
    align-items: self-start;
  }
  .bestseller-title .section-title{
    margin-bottom: 0;
  }
  .bestseller-title p{
    max-width: 100%;
  }
  .category-section .bestseller-title .cart-btn{
    margin: 15px 0; 
  }
  .testimonial-slider {
    margin-top: 26px;
  }
  .testimonial-inner{
    max-width: 100%;
  }
  .review-box h5{
    font-size: 16px;
  }
  .banner-inner{
    flex-direction: column;
    gap: 30px;
  }
  .banner-slider .banner-content{
    max-width: 100%;
  }
  .product-thumb-slider{
    margin: 30px 0;
    max-width: 100%;
  }
  .wishlist_count {
    top: -7px !important;
}
}

@media screen and (max-width:575px){  
  :root .theme7-v1,:root .theme7-v2,:root .theme7-v3,:root .theme7-v4,:root .theme7-v5 {  
    --h2: normal 700 24px/1 var(--second-font);
    --h3: normal 700 22px/1 var(--second-font); 
    --h4: normal 700 20px/1 var(--second-font);
    --h5: normal 700 18px/1 var(--second-font);
  } 
  .home-banner-section .banner-text {
    padding: 0;
  }

  .footer-top .footer-link-1 a img{
    margin-bottom: 10px;
  }
  .footer-link-2:not(:last-child){
    margin-bottom: 20px;
  }
  .footer-top{
    padding: 20px 0;
  }
  .footer-link-2 ul{
    flex-direction: column;
    padding: 15px 0;
    gap: 10px;
  }
  .footer-bottom{
    padding: 10px 0 0 0;
  }
  .login-btn{
    margin-right: 0;
  }
  .main-menu-right {
    padding-left: 0;
  }
  .right-side-header{
    padding-left: 0;
  }
  .store-img{
    margin-top: 10px;
  }
  .store-promotions{
    padding-top: 0;
  }
  .bestseller-section ul li{
    display: block !important;
  }
  .product-review{
    gap: 10px;
  }
  .product-review a:last-child{
    margin-left: 0;
  }
  .product-detail p{
    margin-left: 0;
  }
  .review-box-2 h5 {
    font-size: 18px;
  }
  .modal-popup{
    padding: 30px 15px;
  }
  .banner-right{
    max-width: 100%;
  }
  .banner-slider .banner-content p{
    max-width: 100%;
  }
  .featured-card-inner{
    flex-direction: column;
  }
  .featured-card{
    max-width: 100%;
    margin-left: 0;
  }
  .featured-card-inner .featured-card-img a{
    padding-top: 50%;
  }
  .featured-card-inner .bestseller-tag {
    left: 50%;
    top: -35px;
    transform: rotate(0) translateX(-50%);
    -webkit-transform: rotate(0) translateX(-50%);
    -moz-transform: rotate(0) translateX(-50%);
    -ms-transform: rotate(0) translateX(-50%);
    -o-transform: rotate(0) translateX(-50%);
  }
  .featured-card-inner .featured-content{
    margin-top: 15px;
  }
} 

@media screen and (max-width:420px){  
  .right-menu ul li:not(:last-of-type) {
    margin-right: 10px;
  }
  .right-menu>ul>li:not(.profile-header)>a{
    width: 33px;
    height: 33px;
  }
  .desktop-menu{
    margin-left: 15px;
  }
  .logo-col {
    max-width: 110px;
  }
  .subcribe-section .subcribe-inner .input-box {
    display: block;
  }
  .subcribe-section .subcribe-inner .input-box input {
    border-bottom-left-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 12px;
  }
  .subcribe-section .subcribe-inner button {
    width: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0;
    justify-content: center;
    padding: 10px 20px;
  }
  .order-detail-title{
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (max-width:320px){  

}
