
.chart-wrapper .remove-min{
    min-height: unset !important;
}

.chart-wrapper .apexcharts-legend{
    display: none;
}

.custom-nav.nav-tabs .nav-link {
border: 0;
padding: 0 15px 5px;
}
.nav-pills.cust-nav {
background:#E1E9ED;
}
.nav-pills.cust-nav .nav-item .nav-link{
    color: #162C4E;
}

.theme-card{
    border: 1px solid #EDEDED;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.theme-card-inner{
    padding: 10px;
}
.theme-card-inner .theme-image{
    height: 229.79px;
    overflow: hidden;
}

.theme-card-inner .theme-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: 2s all ease;
}

.theme-card.selected{
    box-shadow: 5px 4px 15px rgba(22, 44, 78, 0.25);
}

.theme-card-inner .theme-image:hover img{
    object-position: bottom;
}

.colorinput {
    display: inline-block;
    position: relative;
}

.colorinput .colorinput-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.colorinput .colorinput-color {
    border-color: #e4e6fc;
    display: inline-block;
    border-radius: 100%;
    color: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.colorinput .border-box {
    width: 31px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
}

.colorinput .colorinput-input:checked+.border-box {
    border-color: #162C4E;
}
.setting-row{
    
}

.auth-wrapper .auth-content{
    min-height: auto !important;
}
.auth-wrapper .login-card-cust{
    max-width:80vw ;
    margin-left: auto;
}
.setting-accordion .accordion-item {
    border: 1px solid #E0E6EF !important;
    border-radius: 7px !important;
}

.setting-accordion .accordion-header {
    background: #F8F8F8;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.setting-accordion .accordion-header .accordion-button {
    background: #F8F8F8 !important;
    display: flex;
    justify-content: space-between;
    border-radius: 7px ;
    box-shadow: none;
    border-bottom: 1px solid transparent;
}

.setting-accordion .accordion-header .accordion-button:not(.collapsed) {
    border-color: #E0E6EF;
}

.setting-accordion .accordion-header .accordion-button span {
    flex: 1;
}

.setting-accordion .accordion-header .accordion-button::after {
    margin: 0 0 0 5px;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath opacity='0.4' d='M12 22.4146C17.5228 22.4146 22 17.9374 22 12.4146C22 6.8917 17.5228 2.41455 12 2.41455C6.47715 2.41455 2 6.8917 2 12.4146C2 17.9374 6.47715 22.4146 12 22.4146Z' fill='%2325314C'/%3E%3Cpath d='M15.5301 12.8845C15.2371 12.5915 14.762 12.5915 14.469 12.8845L12.749 14.6045V8.41455C12.749 8.00055 12.413 7.66455 11.999 7.66455C11.585 7.66455 11.249 8.00055 11.249 8.41455L11.249 14.6035L9.52908 12.8835C9.23608 12.5905 8.76104 12.5905 8.46804 12.8835C8.17504 13.1765 8.17504 13.6516 8.46804 13.9446L11.468 16.9446C11.537 17.0136 11.62 17.0684 11.711 17.1064C11.802 17.1444 11.9001 17.1646 11.9981 17.1646C12.0961 17.1646 12.1929 17.1444 12.2849 17.1064C12.3769 17.0684 12.4591 17.0136 12.5281 16.9446L15.5281 13.9446C15.8231 13.6516 15.8231 13.1775 15.5301 12.8845Z' fill='%2325314C'/%3E%3C/svg%3E");
    background-size: 24px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.setting-accordion .accordion-item:not(:last-of-type) {
    margin-bottom: 15px;
}

.price-card .price-badge {
    color: #fff;
    padding: 7px 24px;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.price-card {
    text-align: center;
    position: relative;
    margin-top: 30px;
}